.subMenyMinaSidor {
    display:flex;
    flex-direction: row;
    width:25%;
    margin:auto;

}

.subMenyMinaSidor li {
    list-style-type:none;
    /* float:left; */
    margin:auto;
    /* border-left:2px solid black;
    border-right:2px solid black; */
    border-bottom:2px solid black;

}

.subMenyMinaSidor li a {
    color:black;
    text-decoration: none;
}

/* 
.myTickets {
    width:100%;
    margin:auto;
} */

.myTicketsContainer {
    margin-top:15px;
    margin-bottom:145px;

}

.tableMinaSidor {

    text-align:center;
    margin:auto;
    width:60%;
}
.tableMinaSidor th {
    border-bottom:2px solid black;
    border-top:2px solid black;
    border-right:1px solid black;

    min-width:90px;
    font-size:0.8em;
}

.tableMinaSidor td   {
    border-right:1px solid black;
    border-bottom:1px solid black;
    font-size:0.8em;

}
.tableMinaSidor td:first-child, .tableMinaSidor th:first-child  {
    border-left:1px solid black;
    
}