form#multiphase {
    border:1px solid #000; 
    padding: 24px;
    width:800px;
    margin:auto;
}

form#multiphase > #phase2, #phase3, #phase4, #show_all_data {
    display:none;
    margin-top:40px;
}

#progressBar {
    width:500px;
}



form#multiphase input {
    /* width:50%; */
}